* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.backgroundLogin {
    background-image: url("img/Background_Login.png");
    background-size: cover;
}

.principal {
    height: 90%;
}

.slogan h4 {
    font-weight: 400;
}

.formLogin {
    height: fit-content;
}

    .formLogin input {
        border-radius: 20px;
        padding: 5%;
        box-shadow: -4px 4px 4px #C0C0CE;
        font-size: 1rem;
    }
        .formLogin input::placeholder {
            font-weight: 700;
        }

    .formLogin button {
        border: none;
        background-color: transparent;
        height: fit-content;
        margin-left: 2%;
        padding: 0px !important;
    }

.copyright {
    height: 10%;
}